name: Publish Artifacts to DockerHub

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop
    types: [ opened, synchronize ]
  workflow_dispatch:

env:
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

jobs:
  publish:
    runs-on: ubuntu-latest
    if: "github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, 'release-please--branches--main')"
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup JDK 18
        uses: actions/setup-java@v3
        with:
          java-version: '18'
          distribution: 'temurin'
          cache: maven

      - name: Setup depends
        run: |
          pip install yq

      - name: Set extra environment and metadata
        id: metadata
        run: |
          CURRENT_VERSION=$(xq -r .project.version pom.xml)
          DOCKER_IMAGE_NAME=$(basename ${GITHUB_REPOSITORY})
          echo "DOCKER_IMAGE_NAME=${DOCKER_IMAGE_NAME}" >> "$GITHUB_ENV"
          
          BRANCH=${GITHUB_REF##*/}
          echo "BRANCH=${GITHUB_REF##*/}" >> "$GITHUB_OUTPUT"
          if [[ "${BRANCH}" == "develop" ]] && [[ "${CURRENT_VERSION}" =~ .*-SNAPSHOT$ ]]
          then
            echo "DEVELOP_SNAPSHOT_OK=true" >> "$GITHUB_OUTPUT"
          fi

          echo "ARTIFACT_VERSION=${CURRENT_VERSION}" >> "$GITHUB_ENV"
          echo "DOCKER_LATEST_IMAGE_TAG=${DOCKER_IMAGE_NAME}:latest" >> "$GITHUB_ENV"

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        if: |
          steps.metadata.outputs.BRANCH == 'main' ||
          steps.metadata.outputs.DEVELOP_SNAPSHOT_OK == 'true'
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and Push docker image
        uses: docker/build-push-action@v4
        if: |
          steps.metadata.outputs.BRANCH == 'main' ||
          steps.metadata.outputs.DEVELOP_SNAPSHOT_OK == 'true'
        with:
          file: ./Dockerfile
          context: .
          push: true
          tags: |
            cardanofoundation/${{ env.DOCKER_LATEST_IMAGE_TAG }}
            cardanofoundation/${{ env.DOCKER_IMAGE_NAME }}:${{ env.ARTIFACT_VERSION }}
